---
layout: default
---

<main id="main" class="home-main" tabindex="-1">
  <article class="page home-page">
    <header class="profile-header">
      <img class="profile-photo" src="{{ '/images/' | append: site.author.avatar | relative_url }}" alt="{{ site.author.name }}" width="176" height="176" fetchpriority="high">
      <div class="profile-copy">
        <h1>{{ site.author.name }}</h1>
        <p class="profile-role">Industrial Engineering &amp; Operations Research</p>
        <p class="profile-affiliation"><a href="https://www.berkeley.edu/">University of California, Berkeley</a></p>
        <p class="profile-location">{{ site.author.location }}</p>
        <ul class="profile-links" aria-label="Contact and profiles">
          <li><a aria-label="Email" title="Email" href="mailto:{{ site.author.email }}">{% include profile-icon.html name="email" %}</a></li>
          <li><a aria-label="Scholar" title="Scholar" href="{{ site.author.googlescholar }}">{% include profile-icon.html name="scholar" %}</a></li>
          <li><a aria-label="GitHub" title="GitHub" href="https://github.com/{{ site.author.github }}">{% include profile-icon.html name="github" %}</a></li>
          <li><a aria-label="LinkedIn" title="LinkedIn" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">{% include profile-icon.html name="linkedin" %}</a></li>
          <li><a aria-label="X" title="X" href="https://x.com/{{ site.author.twitter }}">{% include profile-icon.html name="x" %}</a></li>
        </ul>
      </div>
    </header>
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</main>
